<!-- Carousel wrapper -->

<div
  id="carouselMultiItemExample"
  class="carousel slide carousel-dark text-center"
  data-mdb-ride="carousel"
>
  <!-- Controls -->

  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">   
                           
              <iframe width="415" height="330" src="https://www.youtube.com/embed/G7-jAT8W-jU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body">
                <h3 class="card-title">BIENVENIDO</h3>
                <p class="card-text">
                  Nuestro objetivo es hacer la vida mas comoda a nuestro cliente.
                </p>                
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <iframe width="415" height="330" src="https://www.youtube.com/embed/SDsoIX7hxmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body">
                <h3 class="card-title">COMO CONSEGUIR UN PRESTAMO</h3>
                <p class="card-text">
                  gracias a las tecnologias podemoas ofrecerte un mejor servicio de prestamo online
                </p>            
               
              </div>
            </div>
          </div>
         

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <iframe width="415" height="330" src="https://www.youtube.com/embed/a-wkmx_gDEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body">
                <h3 class="card-title">COMO REGISTRAR DOCUMENTOS ONLINE</h3>
                <p class="card-text">
                  esta pagina tiene el objetivo de acercarte con nuestra plataforma sin llevar documentos al banco
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

 
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->
