
<div class="container">
<div class="container-fluid">
    <br>
    <h1>Formulario-Credito</h1>
    
    <br><br>


<form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example1" class="form-control" />
          <label class="form-label" for="form3Example1">RUC</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control" />
          <label class="form-label" for="form3Example2">DIRECCION</label>
        </div>
      </div>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" />
      <label class="form-label" for="form3Example3">CORREO</label>
    </div>
  
    <label class="form-label" for="customFile">FICHA RUC</label>
<input type="file" class="form-control" id="customFile" />
  
<br>
<label class="form-label" for="customFile">FACTURA 1</label>
<input type="file" class="form-control" id="customFile" />

<br>
<label class="form-label" for="customFile">FACTURA 2</label>
<input type="file" class="form-control" id="customFile" />

<br>
<label class="form-label" for="customFile">FACTURA 3</label>
<input type="file" class="form-control" id="customFile" />
  
<br>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">ENVIAR</button>
  
    <!-- Register buttons -->
 
  </form>
  <br>
</div>
</div>